.movie-filter-block {
  display: flex;
  margin-top: 30px;
}
.movie-filter-block > a {
  font-size: calc(5px + 2vmin);
  color: #cacaca;
  text-decoration: none;
  border: 1px solid #cacaca;
  padding: 4px 15px 6px;
  vertical-align: middle;
}
.movie-filter-block > a:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.movie-filter-block > a:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}


.active {
  background-color: #006a21;
}