.title-top {
  background: #101010;
  color: white;
  width: 100%;
  margin-top: 30px;
}

.wrapper {
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
}
.title {
  margin: 0;
}
.movie-main-info {
  font-size: calc(1px + 2vmin);
  color: #939393;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
}
.movie-main-info>li {
  margin-right: calc(14px + 2vmin);
  padding-left: calc(-15px + 2vmin);
}
.year {
  list-style: none;
  padding: 0!important;
}
.movie-main-info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.imdb-rating {
  color: #c2c2c2;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.imdb-rating-title {
  font-size: calc(7px + 1vmin);
  margin: 0;
}
.imdb-rating-block {
  font-size: calc(6px + 1vmin);
}
.imdb-rating-container {
  
  display: flex;
  align-items: center;
}
.imdb-rating-value, .imdb-rating-votes {
  margin: 0;
}

.imdb-rating-number {
  color: white;
}





.movie-media {
  display: flex;
  width: 100%;
}
.movie-image {
  width: 23%
}
.frame-trailer {
  width: 78%;
}

/* .iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.iframe-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */


.movie-description {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.genres {
  height: 65px;
}

.genres > a { 
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: calc(3px + 2vmin);
  border: 2px solid #939393;
  padding: 3px 15px 5px;
  border-radius: calc(3px + 2vmin);
  line-height: 5px;
  vertical-align: bottom;
  transition: 0.25s;
}

.genres > a:hover {
  background: #606060; 
}

.divider {
  width: 100%;
  background: #606060;
  border: 1px solid #606060;
}

.plot {
  text-align: left;
  font-size: calc(5px + 2vmin);
}

.movie-actors-container, .movie-photos-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: calc(100% - 60px);
}


.actor {
  margin: 0;
  display: flex!important;
  flex-direction: column;
  align-items: center;
}
.actor-image {
  width: 100px;
  border-radius: 50px;
  height: 100px;
  object-fit: cover;
  object-position: right top;
}
.actor-name {
  margin: 0;
}

.actor-role {
  margin: 0;
  font-size: calc(2px + 2vmin);
}

.movie-photo {
  width: 100%;
  margin: 0 auto;
}
.companies {
  text-align: left;
}