.search {
  position: relative;
}

.search-input {
  border-radius: 5px;
  border: 1px solid #000817;
  font-size: calc(5px + 2vmin);
  color:#000d26;
  font-family: 'Roboto', sans-serif;
  height: calc(20px + 2vmin);
  max-height: 30px;
  padding: 1px 20px 1px 10px;
}

.search-input::placeholder {
  color: #a8a9ac;
}

.search-icon {
  position: absolute;
  cursor: pointer;
  height: calc(5px + 2vmin);
  top: calc(50% - (5px + 2vmin) / 2 + 1px); /* +1px - it's a padding of input.*/
  right: 10px;
}

@media (max-width: 480px) {
  .search-input {
    width: 200px;
  }
}