.movie-description {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.genres {
  height: 65px;
}

.genres > a { 
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: calc(3px + 2vmin);
  border: 2px solid #939393;
  padding: 3px 15px 5px;
  border-radius: calc(3px + 2vmin);
  line-height: 5px;
  vertical-align: bottom;
  transition: 0.25s;
}

.genres > a:hover {
  background: #606060; 
}

.divider {
  width: 100%;
  background: #606060;
  border: 1px solid #606060;
}

p {
  text-align: left;
  font-size: calc(5px + 2vmin);
}

.movie-actors-container, .movie-photos-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: calc(100% - 60px);
}
.actor {
  margin: 0;
  display: flex!important;
  flex-direction: column;
  align-items: center;
}
.actor-image {
  width: 100px;
  border-radius: 50px;
  height: 100px;
  object-fit: cover;
  object-position: right top;
}
.actor-name {
  margin: 0;
}
.actor-role {
  margin: 0;
  font-size: calc(2px + 2vmin);
}
.movie-photo {
  width: 100%;
  margin: 0 auto;
}
.companies {
  text-align: left;
}